# Quartus compilation files
incremental_db/*
db/*
output_files/*
*transcript
/work

# QSYS
.qsys_edit/*

# Eclipse build files
*.o
*.d
*.a
*.obj
*.elf
*.objdump
*.map

# Eclipse workspace
EclipseWorkspace/*

# Modelsim files
*.bak
*.mti
*.wlf
*.do

# NIOS II 
*.force_relink
*.force_rebuild
